<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= site_title %></title>
    <link rel="stylesheet" href="<%= site_url %>assets/css/app.css">
    <script src="<%= site_url %>assets/platform/platform.js"></script>
    <% for(var slug in public.components._data){ %>
      <link rel="import" href="<%= site_url %>components/<%= slug %>.html">
    <% }; %>
  </head>
  <body class="page=<%- current.path[0] %>">


    <%- yield %>
    <script>
      var newTime = new Date().getTime();
      var holder = document.getElementById('test');

      var newAttr = document.createAttribute('timestamp');
      holder.setAttributeNode(newAttr);
      holder.setAttribute('timestamp', newTime);
    </script>
    <script>
      document.addEventListener('WebComponentsReady', function() {
          // Perform some behaviour
      });
    </script>

  </body>
</html>
